<%- include('./partials/header.ejs') %> <%- include('./partials/navbar.ejs') %>

<div class="container">
  <h2 class="mt-3">Home</h2>
  <div class="row">

    <% if(products.length > 0) { %>
    <% products.forEach(product => { %>

    <div class="col-sm-4">
      <div class="card text-center mt-4" style="width: 18rem">
        <div class="text-right p-1"><span class="badge badge-info"><%= product.quantity %></span></div>
        <img src="<%= product.image %>" class="card-img-top" alt="..." height="230px" width="60px" />
        <div class="card-body">
          <h5 class="card-title"><%= product.make %> <%= product.prodName %></h5>
          <p class="card-text"><%= product.description %></p>
          <p class="card-text"><strong>Price: </strong>$<%= product.price %></p>
          <a type="button" class="btn btn-primary" href="/products/<%= product._id %>">
            Add to Cart            
          </a>
        </div>
      </div>
    </div>
    <% }) %>
    <% } else { %>
        <h4>No Products to Display ):</h4>
    <% } %>   
  </div>
</div>

<%- include('./partials/footer.ejs') %>
